html
    head
        title!= title

        link(href="https://fonts.googleapis.com/css?family=Ubuntu:regular&subset=latin,cyrillic" rel="stylesheet")
        link(href="/css/slick.css" rel="stylesheet")
        link(href="/css/slick-theme.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
    body
        include index.html